<!DOCTYPE HTML>
<html>
  <head>
    <title>QR Code Verification</title>
  </head>  
  <body>
    <div class="container">
      <h1>Scan with qrcode scanner to verify</h1>
      <div class="qr-frame">
        <img src="<%= qrCodeUrl %>" alt="QR Code">
      </div>
      
     
      <div class="instructions">
        <h3>Terms and Conditions </h3>
        <ul>
            <li>Only one account per email is allowed.</li>
            <li>Do not share your Qrcode with anyone; it is confidential.</li>
            <li>Access to the service is for personal use only.</li>
        </ul>
      </div>
    </div>
  </body> 
</html>
