body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Page content grows and footer stays below */
.page-wrapper {
    flex: 1;
    margin-bottom: 20px; /* optional spacing */
}
